.u-section-1 .u-sheet-1 {
  min-height: 888px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 640px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 0 0 433px;
}

.u-section-1 .u-text-2 {
  margin-bottom: 0;
  margin-top: -28px;
  background-image: none;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  margin: 0 111px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.75rem;
  margin: -19px 0 0 433px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 640px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 528px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 333px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 11px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 333px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 528px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 652px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 223px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 223px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 404px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1460px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -25px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -3px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 606px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1012px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 23px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 23px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 382px;
  }
}